{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Port=3306;Database=biketabai;User=root;Password=;"
  },
  "EmailSettings": {
    "SenderName": "Bike Ta Bai",
    "SenderEmail": "your-email@example.com",
    "SmtpServer": "",
    "SmtpPort": "587",
    "SmtpPassword": "your-app-password-here",
    "SmtpAuthEmail": ""
  }
}

