@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container my-5 text-center">
    <h1 class="text-danger">Error</h1>
    <h2>An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <p>
        <a href="/">Return to Home</a>
    </p>
</div>

